// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.find-room-container{
	padding: 2rem;
	background: #efefef;
	margin-top: 3rem;
}
.rooms-box{
	flex-direction: column;
}
.room{
	position: relative;
} 
.room-attribute{
	width: 30%;
	margin-left: 3rem;
}
.action-box{
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
}
.capability .action-box{
	bottom: unset;
	top: 0;

	button:last-child{
		margin-right: 2rem;
		margin-left: 1rem;
	}
}
.bookings .action-box{
	bottom: 0;
}
.new-room-form-box {
	position: fixed;
	width: 100%;
	left: 0;
	background: #000;
	top: 0;
	padding-top: 5rem;
	bottom: 0;
	z-index: 999;
}
.new-room-form {
	width: 50%;
	background: #fff;
	padding: 5rem;
	margin: 0 auto;
	position: relative;
}
.close-button{
	right: 1rem;
	top: 1rem;
}
.heading{
	padding-top: 2rem;
	border-bottom: solid thin #efefef;
}
.new-capacity-box{
	background-color: #fff;
}
.attribute-modal {
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #fff;
}
.booking-edit-box{
	background: #fff;
	top: 0;
	left: 0;
	z-index: 99;
}
.hotel-details{
	flex-direction: column;
}
.edit-setting{
	top: 2rem;
	right: 0;
}
.attribute-item{
	margin: 2rem 0;
}
.label{
	font-weight: bold;
}
.navigation{
	position: fixed;
}
.justify-content-center{
	padding: 0 3rem;
	background: #fff;
}
.archive{
	flex-direction: column;
}
.booking-modal-box{
	top: 0;
	bottom: 0;
	left: 25%;
	background: #fff;
	padding: 3rem;
	box-shadow: 1px 3px 3px 2px rgba(0,0,0,.6);
}
.selected-dates{ 
	background: #333; 
	color: #fafafa;
	border-radius:10px;
}
.date-booked{
	background-color: red;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    z-index: -1;
    top: 0;
    color: #ffffff;
    border-radius: 55%
}
.vfc-span-day{
	position: relative;
}